The following packages were used in our scripts. Compatability has been checked with R 4.3.1 "Beagle Scouts".

broom	1.0.5
car	3.1-2
caret	6.0-9.4
corrplot	0.92
data.table	1.14.8
dplyr	1.1.2
factoextra	1.0.7
FactoMineR	2.9
ggcorrplot	0.1.4.1
ggplot2	3.4.4
glue	1.6.2
heatmaply	1.5.0
lares	5.2.3
MASS	7.3-60
pdftools	3.4.0
plotly	4.10.2
purrr	1.0.2
randomForest	4.7-1.1
readr	2.1.4
stargazer	5.2.3
stringi	1.7.12
stringr	1.5.0
tabulizer	0.2.3
tidyr	1.3.0
tidytext	0.4.1
xgboost	1.7.5.1
